{{#each this}}
<div class="photo-card">
  <a href="{{largeImageURL}}">
    <img src="{{webformatURL}}" alt="picture" loading="lazy" />
  </a>
  <div class="info">
    <p class="info-item">
      <b class="main-text"> Likes </b>
      <span class="lower-text">{{likes}}</span>
    </p>
    <p class="info-item">
      <b class="main-text">Views</b>
      <span class="lower-text">{{views}}</span>
    </p>
    <p class="info-item">
      <b class="main-text">Comments</b>
      <span class="lower-text">{{comments}}</span>
    </p>
    <p class="info-item">
      <b class="main-text">Downloads</b>
      <span class="lower-text">{{downloads}}</span>
    </p>
  </div>
</div>
{{/each}}